In [2]:
import re
import pandas as pd
from nltk.corpus import stopwords

In [6]:
sw_eng = set(stopwords.words('english'))
list(sw_eng)[:5]

["you've", 'she', 'yourselves', 'the', 'o']

In [7]:
words = dict()
with open('alice.txt') as f:
    for line in f:
        for word in re.split(r"(\.|/|\?|>|<|!|:|;|'|\r|\n|&|,|\"|_|\(|\)|\[|\]|\s+)", line.strip().lower()):
            if word.isalpha() and word not in sw_eng:
                if word in words:
                    words[word] += 1
                else:
                    words[word] = 1

In [8]:
words_in_df = pd.DataFrame()
words_in_df['Word'] = words.keys()
words_in_df['Count'] = words.values()

In [9]:
words_in_df = words_in_df.sort_values(by=['Count'], ascending=False)
words_in_df.head(10)

           Word  Count
3         alice    176
277        said    144
0       project     87
235      little     59
390        work     50
163         one     36
1     gutenberg     36
135        like     34
95       rabbit     34
1359      works     32